{% block content %}
	  <!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content container-fluid">
      <div class="modal-header">

        <h1 class="legend" style="font-size: 24pt;">Add a Student</h1>
        
      </div>


        <form action ="/add_student" method="POST" >
                {{ form.hidden_tag() }}
            
            <fieldset style="border: none;" >
                <div>
                    {{ form.first_name.label(class = "field_label0") }}
                    {{ form.first_name(class = "field") }}
                </div>
                <div>
                    {{ form.last_name(class = "field_ln") }}
                </div>
                <div >
                    {{ form.id_number.label(class = "field_label0") }}
                    {{ form.id_number(class = "field") }}
                </div>
                <div>                    
                    {{ form.course.label(class = "field_label0") }}
                    {{ form.course(class = "field") }}
                </div>
                <div>
                    {{ form.year_level.label(class = "field_label0") }}
                    {{ form.year_level(class = "field") }}
                </div>
               
                <div>
                    {{ form.gender.label(class = "field_label0") }}
                    <br>
                	{% for subfield in form.gender %}
					<tr>
    					<td>{{ subfield }}</td>
    					<td>{{ subfield.label(class="radio") }}</td>
					</tr>
					{% endfor %}
                    <br>
                    <br>
                    
                </div>
               
            
           		
            
            </fieldset>

            <div class="modal-footer">
                {{ form.submit(class = "submit_button") }}
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
        </form>
        
      </div>
    </div>
  </div>
</div>
{% endblock content %}