{% extends 'layout.html' %}
{% include 'student/add_student.html' %}

{% block content %}
    <div class="_navbar">
        <img src = "{{ url_for('static',filename = 'img/SSiS.png') }}" class = "imglogo">
        <nav>
            <ul class="nav justify-content-end" style="padding-right: 13%;padding-top: 15px;">
                <li class="nav-item aktibo">
                    <a class="linka nav-link active_link" href="#">STUDENT</a>
                </li>
                <li class="nav-item">
                    <a class="linka nav-link" href="{{ url_for('view_courses') }}">COURSES</a>
                </li>
                <li class="nav-item">
                    <a class="linka nav-link" href="{{ url_for('view_colleges') }}">COLLEGES</a>
                </li>
  
            </ul>
        </nav>
    </div>

    <div class="add_student">
        <button class="add_student_btn" data-toggle="modal" data-target="#exampleModal">Add Student</button>
    </div>

    <div class="search_actions">
        <form action="student_search" method="POST">
        <fieldset>
        <div>
            {{ search_form.search_field(class="search_field") }}
        </div>
        <div>
            {{ search_form.search_by.label(class="search_by_label") }}
            {{ search_form.search_by(class="search_by") }}
        </div>
        <div>
            {{ search_form.search_submit(class="search_submit_btn") }}
        </div>
        </fieldset>
        </form>
    </div>
	<div class="data_list bodybg">
  	     <table id="example" 
                class="table table-bordered table-responsive table-striped table-wrapper-scroll-y my-custom-scrollbar" 
                style="width:100%">
            <thead>
                <tr>
                    <th style="padding-left: 60px; "scope="col">ID Number</th>
                    <th scope="col">First name</th>
                    <th scope="col">Last name</th>
                    <th scope="col">Course</th>
                    <th scope="col">Year Level</th>
                    <th scope="col">Gender</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for item in students_data %}
        		<tr>
        			<td style="padding-left: 60px;" scope="row">{{ item['id_number'] }}</td>
        			<td>{{ item['first_name'] }}</td>
        			<td>{{ item['last_name'] }}</td>
        			<td>{{ item['course'] }}</td>
        			<td>{{ item['year_level'] }}</td>
        			<td>{{ item['gender'] }}</td>
        			<td>
                        <a style="text-decoration: none;" href="{{ url_for('edit_student',id_number = item['id_number']) }}">
                        <button 
                        class="btn btn-outline-primary rounded" 
                        style="padding: 5px 10px 5px 10px;">Update</button>
                        </a>
                        <button
                        class="btn btn-outline-danger rounded" 
                        data-toggle="modal" 
                        data-target="#modal_delete_{{ item['id_number'] }}" 
                        style="padding: 5px 10px 5px 10px" >Delete</button>
                    </td>

                    <div class="modal fade" id="modal_delete_{{ item['id_number'] }}">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="#modal_delete_title_{{ item['id_number'] }}">Delete Student</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="border-style:none">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                    <div class="modal-body">
                                        <p>Are you sure you want to delete this student?</p>
                                    </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                    <a href="{{ url_for('del_student',id_number = item['id_number']) }}">
                                    <input type="submit" value="Delete" class="btn btn-danger">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>       
        		</tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


{% endblock content %}