.sb-site-container{
	background-color: #e8e8e8;
}

._navbar{
	height: 70px;
	width: 100%;
	background-color: #632521;
	box-shadow: 0px 0px 15px grey;
}

.my-custom-scrollbar {
position: relative;
}

.imglogo{
	margin-top: 5px;
	margin-left: calc(15% - 30px);
	width: 150px;
	position: absolute;
	padding-bottom: 5px;
	padding-right: 5px;
	box-shadow: 10px 10px 0 0 #ffe49c;
}

.nav-item{
	font-family: helvetica;
	font-weight: bold;
}

.nav-link{
	color: #fff;
}

.linka:first-child{
	color: #fff ;
	padding-left:30px;
	padding-right:30px;
}

.data_list{
	width: 1000px;
	height: 400px;
	background-color: #fff;
	box-shadow: 2px 2px 20px 0px #d1d1d1;
	margin-left: 13%;
	margin-top: 10%;
	overflow-y: auto;
}

th{
	position: relative;
	//display: block;
}

.aktibo{
	border-bottom: 5px solid #ffe49c;
}

.active_link:first-child{
	pointer-events: none;
	color: #ffe49c
}

.linka:hover:first-child{
	color: #ffe49c;
	border-bottom: 5px solid #ffe49c;
}

.search_actions{
	height: 70px;
	width: 400px;
	position: absolute;
	margin-top: 5%;
	margin-left: 57%;
}

.search_field{
	border-style: none;
	border: 1px solid #1c2c45;
	width: 250px;
	height: 30px;
	font-family: arial;
	font-size: 15px;
	background-color: #f7f7f7;
	position: absolute;
	margin-left: 15%;
}

.search_submit_btn{
	width: 80px;
	height: 45px;
	border-style: none;
	margin-left: 80%;
	font-family: Helvetica;
	font-weight: bold;
	background-color: #632521;
	color: white;
	border-radius: 5px;
	position: absolute;
}

.search_submit_btn:hover{
	width: 80px;
	height: 45px;
	border-style: none;
	margin-left: 80%;
	font-family: Helvetica;
	font-weight: bold;
	background-color: #fff;
	color: #632521;
	border: 1px solid #632521;
	border-radius: 5%;
	position: absolute;
}

.search_by_label{
	position: absolute;
	font-style: italic;
	margin-top: 8%;
	margin-left: 15%;
	color: grey;
}

.search_by{
	position: absolute;
	border: none;
	background: none;
	margin-left: 53%;
	margin-top: 8%;
	display: inline-block;
}

.college_search_by{
	position: absolute;
	border: none;
	background: none;
	margin-left: 48%;
	margin-top: 8%;
	display: inline-block;
}

.add_student_btn{
	width: 160px;
	height: 45px;
	border-style: none;
	font-family: Helvetica;
	font-weight: bold;
	background-color: #632521;
	color: white;
	border-radius: 5px;
	position: absolute;
}

.add_student_btn:hover{
	width: 160px;
	height: 45px;
	border-style: none;
	font-family: Helvetica;
	font-weight: bold;
	background-color: #fff;
	color: #632521;
	position: absolute;
	border-radius: 5px;
	border: 1px solid #632521;
}

.add_student{
	margin-left: 13%;
	margin-top: 5%;
	position: absolute;
}

.labelous{
	font-family: arial;
	font-weight: bold;
	margin-left: 20px;
}

.field{
	border-radius: 5px;
	border-style: none;
	border: 1px solid #632521;
	width: 100%;
	height: 40px;
	padding-left: 10px;
	font-family: arial;
	font-size: 15px;
	background-color: #f5f5ff;
}

.field_ln{
	border-radius: 5px;
	border-style: none;
	border: 1px solid #632521;
	width: 100%;
	height: 40px;
	padding-left: 10px;
	margin-top: 10px;
	font-family: arial;
	font-size: 15px;
	background-color: #f5f5ff;
}

.submit_button{
	width: 100px;
	height: 38px;
	border-radius: 5px;
	border-style: none;
	background-color: #632521;
	color: white;
}

.submit_button:hover{
	width: 100px;
	height: 38px;
	border-radius: 5px;
	border-style: none;
	background-color:#fff ;
	color: #632521;
	border: 1px solid: #632521;

}

.legend{
	font-family: arial;
	font-weight: bold;
	color: #454545;
	font-size: 24pt;
	margin-left: 26%;
}

.radio{
	font-family: helvetica;
	color: #454545;
	padding-right: 50px;
}

.field_label0{
	padding-top: 5px;
	color: #606770;
}

table{
	position: fixed;
}

.message{
	font-family: arial;
	color: #632521;
	list-style-type: none;
	margin-top: 1.5%;
}

.notify{
	margin-left: 13%;
	margin-top: 6%;
	width: calc(49% - 8px);
	height: 45px;
	border: 1px solid #632521;
	position: absolute;
	border-radius: 5px;
}

.update_div{
	width: 40%;
	background-color: #fff;
	margin-top: 2%;
	box-shadow: 0px 5px 15px grey;
	border-radius: 5px;
}